.header__top {
  background-color: #31352B;
  padding: 9px 0 15px;

  &-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &-list,
  &-items {
    display: flex;
    align-items: center;
  }

  &-item:not(:last-child) {
    margin-right: 47px
  }


  &-item {
    position: relative;
  }


  &-items-item:not(:last-child) {
    margin-right: 24px;
  }

  &-item,
  &-items-item {
    transition: opacity .3s ease;
  }

  .icon-delivery,
  .icon-hotline {
    width: 32px;
    height: 22px;
    margin-right: 6px;
    transform: translateY(5px);
  }

  .icon-delivery {
    width: 32px;
  }

  &-link {
    @extend %open-sans-700;
    font-size: 13px;
    line-height: 18px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    outline: transparent;
  }


  &-item:hover,
  &-items-item:hover {
    opacity: 0.7;
  }

  &-link:focus {
    box-shadow: 0 0 0 3px #eff6e7;
    border-radius: 3px;
  }

  &-link:active,
  &-icon:active {
    color: $green-200;
    fill: $green-200;
  }

}

.menu {
  background-color: $bg-accent;
  padding: 24px 0;

  &__inner {
    display: flex;
    align-items: center;
  }

  &__logo-img {
    margin-right: 25px;
  }


  &__catalog {
    position: relative;
    margin-right: 30px;
    padding: 13px 37px 13px 17px;
    width: 240px;
    border-radius: 6px;
    text-align: right;
    background-color: #ffffff;
    color: $bg-accent;
    letter-spacing: 0.03em;
    font-weight: 600;
    display: flex;
    align-items: center;

    &::after {
      content: '';
      position: absolute;
      right: 16px;
      top: 23px;
      width: 8px;
      height: 5px;
      background-repeat: no-repeat;
      background-image: url('../images/icons/icon-menu-btn.svg');
      cursor: pointer;
    }
  }

  &__product {
    display: flex;
    align-items: center;
  }

  &__product-btn {
    margin-right: 18px;
    width: 25px;
    max-width: 100%;
    padding: 0;
    height: 18px;
    background-color: transparent;
    border: none;
    line-height: 0;
    cursor: pointer;

    span {
      width: 25px;
      max-width: 100%;
      height: 1px;
      background-color: $bg-accent;
      display: inline-block;
      margin-bottom: 7px;
    }

    span:nth-child(even) {
      width: 20px;
      transform: translateX(-2px);
    }
  }

  &__form {
    display: flex;
    position: relative;
    margin-right: 32px;

  }


  &__box {
    display: grid;
    grid-template-columns: minmax(100px, 420px) minmax(50px, 157px);
  }

  &__search,
  &__btn {
    padding: 14px 52px;
    border-radius: 6px;
    border: none;
  }


  .search-icon {
    width: 20px;
    height: 20px;
    cursor: pointer;
    position: absolute;
    left: 12px;
    top: 50%;
    transform: translateY(-50%);
    z-index: 2;
    transition: background-color 0.3s ease, fill 0.3s ease, border-radius 0.3s ease;

    & {
      fill: $primary-bg;
    }
  }

  &__search {
    padding-left: 55px;
    padding-right: 15px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    position: relative;

    &::placeholder {
      letter-spacing: 0.03em;
      color: $primary-bg;
    }
  }

  &__btn {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    letter-spacing: 0.03em;
    @extend %open-sans-600;
    background-color: #31352b;
    color: #ffffff;
    cursor: pointer;
    font-size: 17px;
    transition: background-color 0.3s ease;
  }

  &__client {
    display: flex;
    transform: translateX(14px);
  }

  &__client-item:not(:last-child) {
    margin-right: 8px;
  }

  &__client-item {
    position: relative;
    transition: background-color 0.3s ease, opacity 0.3s ease;
  }

  &__user {
    width: 25px;
    height: 32px;
  }

  &__heart {
    width: 32px;
    height: 28px;
  }

  &__cart {
    width: 32px;
    height: 30px;
  }

  &__link {
    outline: transparent;
    padding: 11px 9px;
    border: 3px solid transparent;
    display: flex;
    transition: box-shadow 0.3s ease;
  }

  &__num {
    background-color: #ffffff;
    position: absolute;
    width: 18px;
    height: 18px;
    top: 6px;
    left: 5px;
    border-radius: 50%;
    z-index: 4;
    color: $bg-red;
    @extend %open-sans-600;
    font-size: 10px;
    line-height: 18px;
    letter-spacing: 0.03em;
    text-align: center;
  }

  &__btn:hover {
    background-color: rgba(49, 53, 43, 0.85);
  }

  &__client-item:hover,
  .search-icon:hover {
    background-color: $default;
    border-radius: 3px;
  }

  .search-icon:hover {
    fill: #ffffff;
  }

  &__btn:focus {
    box-shadow: 0px 0px 0px 4px rgba(255, 255, 255, 0.5);
    border-radius: 0px 6px 6px 0px;
  }
  
  &__link:focus {
    box-shadow: inset 0 0 0 3px #eff6e7;
    border-radius: 3px;
  }
  
  
  &__btn:active {
    background-color: #31352B;
    color: rgba(255, 255, 255, 0.5);
  }

  &__link:active {
    opacity: 0.1;
    fill: rgba(255, 255, 255, 0.5);

  }

  .search-icon:active {
    border-radius: 3px;
    opacity: 0.5;
    fill: rgba(255, 255, 255, 0.5);
  }


}