.partners {

  &__list {
    width: 100%;
    align-items: center;
  }

  &__item {
    opacity: 0.5;
    transition: opacity 0.3s ease;
  }

  &__item:hover {
    opacity: 1;
  }

  &__link {
    max-width: 80%;
    height: 80px;
    width: 100%;

    img {
      object-fit: cover;
       margin: 0 auto;
    }
  }



}