.info {
  background-color: $bg;

  &__items {
    display: flex;
    justify-content: center;
    padding: 48px 0 30px;
    @media(max-width: 375px){
      flex-direction: column;
      padding: 32px 0 30px;
    }
  }

  &__item:not(:last-child) {
    margin-right: 70px;
     @media(max-width: 992px){
      margin-right: 25px;
    }
    @media(max-width: 375px){
      margin-bottom: 30px;
    }
  }

  &__item {
    padding-left: 70px;
    position: relative;
    transform: translateX(-28px);
    @media(max-width: 1024px){
      transform: translateX(0);
    }
     @media(max-width: 600px){
       padding-left: 0;
      padding-top: 70px;
    }
    @media(max-width: 375px){
       padding-left: 72px;
       padding-top: 0;
    }
  }

  &__title {
    @extend %open-sans-600;
    color: #121212;
    font-size: 16px;
    margin-bottom: 6px;
    @media(max-width: 375px){
      width: 100%;
    }
  }

  &__text {
    max-width: 190px;
    @media(max-width: 375px){
      max-width: 100%;
    }
  }

  &__item--scooter::before,
  &__item--return::before,
  &__item--hours::before {
    content: '';
    position: absolute;
    background-repeat: no-repeat;
    left: 0;
    top: 0;
    width: 50px;
    height: 50px;
  }



  &__item--scooter::before {
    background-image: url('../images/icons/info-icon/scooter.svg');
  }

  &__item--return::before {
    background-image: url('../images/icons/info-icon/return-box.svg');
  }

  &__item--hours::before {
    background-image: url('../images/icons/info-icon/hours.svg');
  }
}
