.footer {
  background-color: $primary-bg;
  svg {
    fill: #ffffff;
  }

  &__top {
    border-bottom: 1px solid rgb(255, 255, 255, 0.1);
    padding: 30px 0;
  }

  
  &__logo {
    margin-bottom: 20px;
    display: inline-block;
    outline: transparent;
    transition: box-shadow 0.3s ease, border-radius 0.3s ease;
  }

  &__inner {
    column-count: 3;
  }
  
  &--column {
    break-inside: avoid-column;
    column-gap: 150px;
  }

  
  
  &__form {
    max-width: 311px;
  }

  &__text {
    display: inline-block;
    color: #ffffff;
    line-height: 1;
    margin-bottom: 18px;
  }

  &__form-item {
    display: flex;
  }


  &__email {
    max-width: 180px;
    width: 100%;
    border-radius: 6px 0 0 6px;
    padding: 12px;
    border: none;
    line-height: 1;
    outline: transparent;
    transition: box-shadow 0.3s ease, border-radius 0.3s ease;
    &::placeholder {
      color: #4f4f4f;
    }
  }

  &__submit {
    @extend %button;
    @extend %open-sans-700;
    border-radius: 0 6px 6px 0;
    text-transform: uppercase;
    padding: 12px 16px;
    font-size: 12px;
    line-height: 16px;
    cursor: pointer;
    outline: transparent;
    transition: box-shadow 0.3s ease, border-radius 0.3s ease;
  }

   &__box {
    color: #ffffff;
    column-count: 3; 
  }

  &__list {
    width: 140px;
  }

  &__item {
    margin-bottom: 22px;
  }

  &__link{
    color: #ffffff;
    outline: none;
    transition: box-shadow 0.3s ease, border-radius 0.3s ease;
  }

  &__info {
    max-width: 218px;
    width: 100%;
    color: #ffffff;
    margin-left: auto;
    font-style: normal;
  }

  &__info-list {
    margin-bottom: 13px;
  }

  &__social-item:not(:last-child) {
    margin-right: 12px;
  }

  &__tel {
    color: #fff;
    transition: box-shadow 0.3s ease, border-radius 0.3s ease;
  }

 

  &__social {
    display: flex;
  }

  &__social-link {
    outline: transparent;
    padding: 20px 1px 0;
    transition: box-shadow 0.3s ease;
  }

  &__icon {
    width: 32px;
    height: 32px;
    transition: fill 0.3s ease;
  }


  &__bottom-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 0;
  }

  &__copy {
    color: #ffffff;
  }

  &__card {
    display: flex;
  }

  &__card-item:not(:last-child) {
    margin-right: 24px;
  }

  &__card--visa {
    width: 93px;
    height: 29px;
  }

  &__card--mc {
    width: 49px;
    height: 29px;
  }

  &__bottom-item {
    transition: fill 0.3s ease;
  }


  &__icon:hover,
  &__bottom-item:hover{
    fill: #A5A5A5;
  }

  &__logo:focus,
  &__email:focus,
  &__submit:focus,
  &__tel:focus {
    box-shadow: 0 0 0 3px #E0EDCF;
    border-radius: 3px;
  }

 

  &__social-link:focus {
    box-shadow: inset 0 0 0 3px #eff6e7;
    border-radius: 3px;
    padding: 20px 1px 0;
  }

  &__icon:active {
    fill: $green-200;
  }

  
  &__link:focus {
    box-shadow: 0 0 0 3px $green-200;
    border-radius: 3px;
  }
}
